services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      # این سه خط باید دقیقاً با .env بک‌اِند یکی باشند
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=taskflow_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: