{
    "sourceFile": "apps/.env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 4,
            "patches": [
                {
                    "date": 1770648705003,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                },
                {
                    "date": 1770662134365,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -1,8 +1,8 @@\n # Database\n DB_HOST=localhost\n DB_PORT=5432\n-DB_USER=postgres\n+DB_USER=\n DB_PASS=secret\n DB_NAME=taskflow_db\n \n # Auth\n"
                },
                {
                    "date": 1770662140243,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -1,7 +1,7 @@\n # Database\n-DB_HOST=localhost\n-DB_PORT=5432\n+DB_HOST=\n+DB_PORT=\n DB_USER=\n DB_PASS=secret\n DB_NAME=taskflow_db\n \n"
                },
                {
                    "date": 1770662146899,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -1,10 +1,10 @@\n # Database\n DB_HOST=\n DB_PORT=\n DB_USER=\n-DB_PASS=secret\n-DB_NAME=taskflow_db\n+DB_PASS=\n+DB_NAME=\n \n # Auth\n JWT_SECRET=super-secret-key-change-me\n JWT_EXPIRES_IN=1d\n"
                },
                {
                    "date": 1770662153636,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -1,10 +1,10 @@\n # Database\n-DB_HOST=\n-DB_PORT=\n-DB_USER=\n-DB_PASS=\n-DB_NAME=\n+DB_HOST=localhost\n+DB_PORT=5432\n+DB_USER=postgres\n+DB_PASS=secret\n+DB_NAME=taskflow_db\n \n # Auth\n JWT_SECRET=super-secret-key-change-me\n JWT_EXPIRES_IN=1d\n"
                }
            ],
            "date": 1770648705003,
            "name": "Commit-0",
            "content": "# Database\nDB_HOST=localhost\nDB_PORT=5432\nDB_USER=postgres\nDB_PASS=secret\nDB_NAME=taskflow_db\n\n# Auth\nJWT_SECRET=super-secret-key-change-me\nJWT_EXPIRES_IN=1d\n\n# App\nPORT=4000"
        }
    ]
}